includeConfig 'conf/base.config'

manifest {
    name            = 'longread-rnaseq-pipeline'
    author          = 'Sarvesh Galgale'
    description     = 'Human bulk long-read RNA-seq workflow for ONT and PacBio Iso-Seq'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.04.0'
    version         = '0.1.0'
}

profiles {
    local {
        params.execution_profile = 'local'
        process.executor = 'local'
    }

    docker {
        params.execution_profile = 'docker'
        docker.enabled = true
    }

    apptainer {
        params.execution_profile = 'apptainer'
        apptainer.enabled = true
    }

    singularity {
        params.execution_profile = 'singularity'
        singularity.enabled = true
    }

    test {
        includeConfig 'conf/test.config'
    }

    test_stub {
        includeConfig 'conf/test_stub.config'
    }
}
