// CI-oriented resource limits. Tiny ONT and PacBio fixtures will be added in a
// later block; this profile does not download or imply any test data.
params {
    execution_profile = 'test'
    outdir            = 'results/test'
    max_cpus          = 2
    max_memory        = '4 GB'
    max_time          = '1 h'
}

process {
    executor = 'local'
    cpus     = 1
    memory   = '1 GB'
    time     = '30 min'

    withLabel: process_single {
        cpus   = 1
        memory = '1 GB'
        time   = '30 min'
    }

    withLabel: process_low {
        cpus   = 1
        memory = '1 GB'
        time   = '30 min'
    }

    withLabel: process_medium {
        cpus   = 1
        memory = '1 GB'
        time   = '30 min'
    }

    withLabel: process_high {
        cpus   = 1
        memory = '1 GB'
        time   = '30 min'
    }
}
