manifest {
    name = 'longread-rnaseq-pipeline-validation'
    version = '0.1.0'
    nextflowVersion = '>=24.04.0'
}

docker.enabled = true

timeline { enabled = true; overwrite = true; file = "${params.outdir}/resources/timeline.html" }
report { enabled = true; overwrite = true; file = "${params.outdir}/resources/execution_report.html" }
trace { enabled = true; overwrite = true; file = "${params.outdir}/resources/execution_trace.tsv" }

profiles {
    apptainer { docker.enabled = false; apptainer.enabled = true }
    stub { process.executor = 'local'; docker.enabled = false }
}
